{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<h1 class="fs-2 text-center">Introduction</h1>
<div class="fs-3">
    <p>Vrundavan Derifarm, located in Junagadh, Gujarat, is a well-established dairy farm known for its high-quality dairy products and commitment to sustainable farming practices. The farm specializes in producing fresh milk and a variety of dairy products like ghee, butter, and paneer, ensuring the best standards in hygiene and nutrition.<br>
    Junagadh, a region known for its agricultural richness, provides the ideal environment for Vrundavan Derifarm to maintain a natural and ethical approach to dairy farming. The farm is dedicated to animal welfare, ensuring that the cows are well-fed, healthy, and cared for in a humane manner. This, in turn, reflects in the purity and richness of the dairy products they offer.<br>
    By integrating modern techniques with traditional farming values, Vrundavan Derifarm has earned a reputation for being a trusted source of dairy products in the region.    
</div>

{% endblock body %}